.item {
    margin: 0.5rem 0rem;
    transition: all 1s;
    width: 10rem;
    /* height: 18rem; */
    min-height: 20rem;
    max-height: 20rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    box-shadow: 2.5px 2.5px 2.5px rgba(58, 175, 169, 0.8);
    padding: 0.5rem;
    background-color: #FA991C;
}

.item:hover {
    box-shadow: 10px 10px 10px rgba(58, 175, 169, 0.5);
    cursor: pointer;
    opacity: 0.8;
}

.img {
    width: 100%;
    height: 10rem;
}

.brand {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.2rem;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
}

.color {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.color-value {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 2rem;
    font-size: 1rem;
}